/* @author: John Lusky
   Date: 09/3/13
 */


//// Imports//
@import "bourbon";
@import "_normalize";
@import "_onepage-scroll";
@import "_fancybox";


//// Colors//
$white: #ffffff;
$black: #000000;
$lightGray: #C7C7C7;
$darkGray: #111111;

//// Fonts//
@font-face {
    font-family: 'mohavebold';
    src: url('../fonts/mohave-bold-webfont.eot');
    src: url('../fonts/mohave-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mohave-bold-webfont.woff') format('woff'),
         url('../fonts/mohave-bold-webfont.ttf') format('truetype'),
         url('../fonts/mohave-bold-webfont.svg#mohavebold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?n9qn9x');
    src:url('../fonts/icomoon.eot?#iefixn9qn9x') format('embedded-opentype'),
        url('../fonts/icomoon.woff?n9qn9x') format('woff'),
        url('../fonts/icomoon.ttf?n9qn9x') format('truetype'),
        url('../fonts/icomoon.svg?n9qn9x#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
    content: "\68";
}
.icon-mail:before {
    content: "\65";
}
.icon-googleplus:before {
    content: "\67";
}
.icon-facebook:before {
    content: "\66";
}
.icon-instagram:before {
    content: "\69";
}
.icon-twitter:before {
    content: "\74";
}
.icon-feed:before {
    content: "\72";
}
.icon-vimeo:before {
    content: "\76";
}
.icon-steam:before {
    content: "\73";
}
.icon-soundcloud:before {
    content: "\63";
}
.icon-pinterest:before {
    content: "\70";
}

$mohaveBold: 'mohavebold', arial, sans-serif;
$icomoon: 'icomoon';


//// Mixins//
@mixin textIndent() {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}


//// Boilerplate nonsense//
html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


//// Globals//
body {
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}

section {

    .pagination {
        display: none;
        position: absolute;
        bottom: 5px;
        left: 50%;
        margin-left: 170px;
        font-family: $mohaveBold;
        font-size: 20px;
        font-weight: bold;
        color: white;

        a {
            color: $white;
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
                text-decoration: underline;
            }

        }

    }

    &:nth-child(5) {

        .pagination {
            display: block;
        }

    }

}

nav {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 320px;
    z-index: 999;
    @include transform(translate(100%, 100%));
    @include transition (all .4s ease-out);

    &.active {
        @include transform(translate(0, 0));
    }

    ul, li {
        padding: 0;
        margin: 0;
    }

    .nav-item {
        width: 100%;
        background: rgba(0, 0, 0, 0.8);
        display: block;
        font-family: $mohaveBold;
        font-size: 22px;
        color: $lightGray;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        padding: 15px 0px;
        border-bottom: 1px solid #0E0E0E;
        @include transition (all .4s ease-out);

        &:hover {
            background: $black;
            color: #79bfae;
        }

    }

    .social {
        background: rgba(0, 0, 0, 0.8);
        padding: 10px 0 10px 0;

        li {
            display: inline-block;
        }

        a {
            display: block;
            width: 76px;
            height: 47px;
            padding: 7px 0px 0 0;
            font-size: 29px;
            text-align: center;
            font-family: $icomoon;
            color: $lightGray;
            text-decoration: none;
            @include transition (all .4s ease-out);

            &:hover {
                color: #79bfae;
            }

        }

    }

}

#logo {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

#hamburger {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.8);
    color: $lightGray;
    font-family: $icomoon;
    text-decoration: none;
    font-size: 28px;
    text-align: center;
    z-index: 1000;
    @include box-sizing(border-box);
    @include transition (all .4s ease-out);

    &:hover {
        background: $black;
        color: #79bfae;
    }

    &.active {
        bottom: 322px;
        right: 320px;
    }

}

//// Entries//
.entry {
    width: 100%;
    height: 100%;
    background: $darkGray no-repeat;
    background-size: cover;
    background-position: top left;

    .entry-info {
    //  display: none;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 450px;
        background: rgba(0, 0, 0, 0.8);
        padding: 30px;
        color: $white;
    }

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 700px;
        max-height: 450px;
        overflow: hidden;
        transform: translate(-50%, -50%);
        color: $lightGray;
    }

    .video {
        position: relative;
        top: 50%;
        left: 50%;
        max-width: 1500px;
        transform: translate(-50%, -50%);
    }

}

.fancybox-thumb {
    position: absolute;
    top: 0;
    right: 0;
}
